$main-family-font: "Lato", sans-serif;
$mainPadding: 100px 0;
$sidesPadding: 80px;
$mainWidth: 1438px;
$mainMargin: 0 auto;
$mainRadius: 15px;
$gradient: linear-gradient(
  180deg,
  color(gradientTop) -24.02%,
  color(gradientBottom) 130.76%
);
$heightNavbar: 100px;

